<div class="form-group mobility" data-active="<%= selected %>">
  <div class="input-group">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mobility-active"><%= "#{EmojiFlag.new(selected)} #{selected.upcase}" %></span> <span class="caret"></span>
      </button>
      <div class="dropdown-menu mobility__languages">
        <% locales.each do |locale| %>
          <a href="#<%= "#{field_name}_#{locale}" %>" class="dropdown-item" data-locale="<%= locale %>"><%= "#{EmojiFlag.new(locale)} #{locale.upcase}" %></a>
        <% end %>
      </div>
    </div>
    <% locales.each do |locale| %>
      <%=
        builder.raw_text_field(
          "#{field_name}_#{locale}",
          options.merge(
            class: "form-control mobility-field#{locale == selected ? '' : ' mobility-field--hidden'}",
            placeholder: options[:placeholder] || "#{label} (#{locale.upcase})",
            data: { locale: locale }
          )
        )
      %>
    <% end %>
  </div>

  <%=
    render(
      partial: "trestle/mobility/deepl_translation_action",
      locals: {
        locales: locales,
        deepl_query_params: deepl_query_params.to_json
      }
    ) if Trestle.config.mobility.deepl_api_key
  %>
</div>
